#menu-bar {
  background: $dark-blue;
  display: none;
  height: 80px;
  position: fixed;
  width: 100%;

  #lang-selector {
    float: left;

    a {
      color: $turquoise;
      margin-right: 20px;

      &:hover {
        color: $white;
        transition: all 0.2s ease-in-out;
      }
    }
  }
}

.line-break {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
