@font-face {
  font-family: 'icomoon';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/icomoon.eot?s9j610');
  src: url('../fonts/icomoon.eot?#iefixs9j610') format('embedded-opentype'),
  url('../fonts/icomoon.woff?s9j610') format('woff'),
  url('../fonts/icomoon.ttf?s9j610') format('truetype'),
  url('../fonts/icomoon.svg?s9j610#icomoon') format('svg');
}

[class^="icon-"], [class*=" icon-"] {
  color: $dark-blue;
  font-family: 'icomoon', 'sans-serif';
  font-size: 5em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  margin: 5%;
  speak: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: $turquoise;
  }

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

#menu-bar a span,
#menu-bar #lang-selector {
  color: $turquoise;
  float: right;
  font-size: 2.5em;
  padding: 0.5em 10px;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: $white;
  }
}

.infopanel a {
  font-size: inherit;
  line-height: 0;

  .project {
    color: $white;
    font-size: 1em;

    &:hover {
      color: $dark-blue;
    }
  }
}

.icon-mail:before {
  content: '\e600';
}

.icon-twitter:before {
  content: '\e601';
}

.icon-feed:before {
  content: '\e602';
}

.icon-github:before {
  content: '\e603';
}

.icon-linkedin:before {
  content: '\e604';
}

.icon-stackoverflow:before {
  content: '\e605';
}

.icon-git:before {
  content: '\e607';
}

.icon-mysql:before {
  content: '\e606';
}

.icon-nodejs:before {
  content: '\e619';
}

.icon-html5:before {
  content: '\e636';
}

.icon-java:before {
  content: '\e638';
}

.icon-php:before {
  content: '\e63d';
}

.icon-css3:before {
  content: '\e649';
}

.icon-sass:before {
  content: '\e64b';
}

.icon-jquery:before {
  content: '\e650';
}

.icon-backbone:before {
  content: '\e652';
}

.icon-symfony:before {
  content: '\e657';
}

.icon-doctrine:before {
  content: '\e674';
}

.icon-nginx:before {
  content: '\e676';
}

.icon-javascript:before {
  content: '\e681';
}

.icon-mongodb:before {
  content: '\e6a4';
}
