eside      = "http://www.ingenieria.deusto.es/servlet/Satellite/Estudio/1107790292968/_cast/%231245843219928%231248264064532%231248264067041%231254388361700/0/c0/UniversidadDeusto/comun/render?tipoColeccion=Page"
deusto     = "http://www.deusto.es/servlet/Satellite/Page/1334665535266/_cast/%231334665535266/c0/Inicio"
symfony2   = "http://symfony.com"
objectivec = "https://developer.apple.com/library/mac/documentation/Cocoa/Conceptual/ProgrammingWithObjectiveC/Introduction/Introduction.html"
dessi      = "http://www.postgrado.deusto.es/cs/Satellite/estudiantes/es/buscador-de-postgrados/diploma-de-especializacion-en-soluciones-software-para-internet-/programa"
gade       = "http://portal.uned.es/portal/page?_pageid=93,22987836&_dad=portal"
uned       = "http://portal.uned.es/portal/page?_pageid=93,1&_dad=portal&_schema=PORTAL"
linkedin   = "https://www.linkedin.com/in/benatespina"
careers    = "http://careers.stackoverflow.com/benatespina"
email      = "mailto:benatespina@gmail.com"
twitter    = "https://twitter.com/benatespina"
github     = "https://github.com/benatespina"
blog       = "blog.benatespina.com"