.main-container
  .huge-title
    img.headshot(src='me-255x255.png', alt='Beñat Espiña')
    h1 Be&ntilde;at Espi&ntilde;a
    .social
      include social
  .go-down=__('godown')
  .language-selector.language-selector--fixed
    a.language-selector__language(href='/eu') eu
    a.language-selector__language(href='/es') es
    a.language-selector__language(href='/en') en
