.main
    .main__me
        img.main__photo(src='me-255x255.png', alt='Beñat Espiña')
        h1.main__title Be&ntilde;at Espi&ntilde;a
        h2.main__subtitle Software engineer
        .social
            include social
