a(href='https://github.com/benatespina', target='_blank')
  span.social__icon.icon-github
a(href='https://www.linkedin.com/in/benatespina', target='_blank')
  span.social__icon.icon-linkedin
a(href='https://twitter.com/benatespina', target='_blank')
  span.social__icon.icon-twitter
a(href='mailto:benatespina@gmail.com', target='_blank')
  span.social__icon.icon-mail
