a(href='https://github.com/benatespina', target='_blank')
  span.buzz.social.icon-github
a(href='https://github.com/benatespina', target='_blank')
  span.buzz.social.icon-stackoverflow
a(href='http://careers.stackoverflow.com/benatespina', target='_blank')
  span.buzz.social.icon-linkedin
a(href='https://www.linkedin.com/in/benatespina', target='_blank')
  span.buzz.social.icon-twitter
a(href='https://twitter.com/benatespina', target='_blank')
  span.buzz.social.icon-mail
a(href='http://blog.benatespina.com/feed', target='_blank')
  span.buzz.social.icon-feed