@import "compass/reset";
@import "compass/css3";

//Variables
$bgGray      : #32323a;
$linenTexture: url("resources/images/bg.png");
$lightGray   : #cccccc;
$darkGray    : #888;
$black       : #000;

a {
    text-decoration: none;
    color          : $darkGray;
    &:hover   {
        color      : $black;
    }
    &:active  {
        position   : relative;
        top        : 1px;
    }
}

p {
    text-indent    : 1em;
    margin-bottom  : 1em;
}