//MY PROFILE PHOTO
.my-photo {
    padding         : 0.5em;
    background-color: $black;
    border-radius   : 1em;
    margin          : 0em 1em 0em 0em;
    float           : left;
}

//LANGUAGE SELECTOR
.lang a {
    font-size   : 35px;
    margin-right: 0.5em;
}