@font-face {
    src   :url('fonts/icons.eot');
    src   :url('fonts/icons.eot?#iefix') format('embedded-opentype'),
              url('fonts/icons.woff') format('woff');
    font  : {
        family: 'icons';
        weight: normal;
        style : normal;
    }
}
