@media screen and (min-width: 1000px) {
    body {
        margin          : auto;
    }
}

@media screen and (min-width: 500px) and (max-width: 1000px) {
    footer {
        max-width       : 380px;
    }
}

@media screen and (max-width: 480px) {
    .my-photo {
        border-radius: 0;
        padding      : 0;
        margin       : 0;
        border       : 0;
        width        : auto;
        float        : none;
        box-shadow   : none;
        text-align   : center;
        background   : transparent;
        @include transform(rotate(0deg));
    }

    .lang {
        margin-left     : 2em;
        a {
            font-size   : 40px;
        }
    }

    .my-photo > img {
        height          : 50%;
        width           : 50%;
        border-radius   : 5em;
    }

    body {
        margin-left     : 0;
        margin-right    : 0;

        article {
            text-align  : center;
            margin-left : 10%;
            margin-right: 10%;
        }

        footer {
            margin-bottom     : 0;
            background-color  : $black;

            .i-careers, .i-cv, .i-email, .i-linkedin,.i-twitter, .i-github, .i-blog {
                box-shadow    : none;
                background    : none;
                line-height   : 2em;
                width         : auto;
                border-radius : 0;
                border        : 0;
                margin        : 0 5px 0 5px;
                display       : inline-block;
                font: {
                    family    : 'icons';
                    style     : normal;
                    weight    : normal;
                    variant   : normal;
                    size      : 35px;
                }
                speak         : none;
                text-transform: none;
                // Better Font Rendering
                -webkit-font-smoothing : antialiased;
                -moz-osx-font-smoothing: grayscale;

                span {
                    display   : none;
                }
                &:hover {
                    background: none;
                    color     : $lightGray;
                }
            }

            .i-blog:before     {
                content: "\e601";
            }
            .i-github:before   {
                content: "\e602";
            }
            .i-careers:before  {
                content: "\e604";
            }
            .i-email:before    {
                content: "\e605";
            }
            .i-linkedin:before {
                content: "\e606";
            }
            .i-twitter:before  {
                content: "\e607";
            }
            .i-cv:before       {
                content: "\e603";
            }
        }
    }
}